 <div class="panel panel-default">
  <div class="panel-heading">
    <h3>All About Jungle</h3>
  </div>
  <div class="panel-body">
    <h5 class="panel-heading">(Technically, a rainforest.)</h5>
    <p>Founded in late March 2021 with humble beginnings as an online bookseller. Jungle is quickly taking over the online retail space on .erb template at a time.</p>
      <%= link_to 'Go Home', :root, class: 'btn btn-default pull-right'%>
  </div>
</div>